@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600');

.tab_group {
  display: flex;
  max-width: 1152px;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid var(--gray-200, #EAECF0);
  background: var(--base-white, #FFF);
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

@media (min-width: 1152px) {
  .tab_group {
    min-width: 1152px;
  }
}

.table_header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header_actions {
  display: flex;
  padding: 2px 3px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.header_info {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

.button {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 8px 14px;
  border-radius: 8px;
  /* border: 1px solid var(--primary-50, #F9F5FF);
  background: var(--primary-50, #F9F5FF); */
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tab_table {
  display: flex;
  background: var(--base-white, #FFF);
  align-items: flex-start;
  align-self: stretch;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  min-width: 0;
}

.nowrap_noscroll {
  /* text-overflow: ellipsis; */
  display: inline-block;
  white-space: nowrap;
  overflow: scroll;
  /* overflow: hidden; */
  min-width: 0;

  /* hide scroll bars */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.nowrap_noscroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.table_cell_16 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 12px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
  min-width: 0;
}

.mute_tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table_cell_79 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_14 {
  width: 17px;
  height: 14.571px;
}

.table_cell_78 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_13 {
  width: 17px;
  height: 14.571px;
}

.table_cell_77 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_12 {
  width: 17px;
  height: 14.571px;
}

.table_cell_76 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_11 {
  width: 17px;
  height: 14.571px;
}

.table_cell_75 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_10 {
  width: 17px;
  height: 14.571px;
}

.table_cell_74 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_9 {
  width: 17px;
  height: 14.571px;
}

.table_cell_73 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_8 {
  width: 17px;
  height: 14.571px;
}

.table_cell_72 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_7 {
  width: 17px;
  height: 14.571px;
}

.table_cell_71 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_6 {
  width: 17px;
  height: 14.571px;
}

.table_cell_70 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_5 {
  width: 17px;
  height: 14.571px;
}

.table_cell_69 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_4 {
  width: 17px;
  height: 14.571px;
}

.table_cell_68 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_3 {
  width: 17px;
  height: 14.571px;
}

.table_cell_67 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_2 {
  width: 17px;
  height: 14.571px;
}

.table_cell_66 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud_1 {
  width: 17px;
  height: 14.571px;
}

.table_cell_65 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_on_loud {
  width: 17px;
  height: 14.571px;
}

.table_cell_64 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.editor_core_icon_32_sound_mute {
  width: 16px;
  height: 16px;
}

.close_tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table_cell_63 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_0116 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_35 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_62 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_0115 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_34 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_61 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_0114 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_33 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_60 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_0113 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_32 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_59 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_0112 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_31 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_58 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_0111 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_30 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_57 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_0110 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_29 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_56 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_019 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_28 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_55 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_018 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_27 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_54 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_017 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_26 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_53 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_016 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_25 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_52 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_015 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_24 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_51 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_014 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_23 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_50 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_013 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_22 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_49 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_012 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.icon_21 {
  position: absolute;
  left: 12.5px;
  top: 8.333%;
  width: calc(100% - (12.5px + 12.5px));
  height: 83.333%;
}

.table_cell_48 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0 16px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.trash_011 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
}

.close_tab {
  /* width: calc(100% - (12.5px + 12.5px)); */
  /* height: 83.333%; */
}

.opened_at {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table_cell_47 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_39 {
  color: #475467;
}

.table_cell_46 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_38 {
  color: #475467;
}

.table_cell_45 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_37 {
  color: #475467;
}

.table_cell_44 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_36 {
  color: #475467;
}

.table_cell_43 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_35 {
  color: #475467;
}

.table_cell_42 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_34 {
  color: #475467;
}

.table_cell_41 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_33 {
  color: #475467;
}

.table_cell_40 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_32 {
  color: #475467;
}

.table_cell_39 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_31 {
  color: #475467;
}

.table_cell_38 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_30 {
  color: #475467;
}

.table_cell_37 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_29 {
  color: #475467;
}

.table_cell_36 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_28 {
  color: #475467;
}

.table_cell_35 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_27 {
  color: #475467;
}

.table_cell_34 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_26 {
  color: #475467;
}

.table_cell_33 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_25 {
  color: #475467;
}

.table_cell_32 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.text_24 {
  color: #475467;
}

.table_header_1 {
  display: flex;
  align-items: center;
  gap: 4px;
}

.table_header_cell_1 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0 0 0 12px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  background: var(--gray-25, #FCFCFD);
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.table_header_cell_2 {
  display: flex;
  position: relative;
  height: 24px;
  width: 100%;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  background: var(--gray-25, #FCFCFD);
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.table_header_cell_3 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  background: var(--gray-25, #FCFCFD);
  align-items: center;
  gap: 12px;
}

.table_header_cell_4 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  background: var(--gray-25, #FCFCFD);
  align-items: center;
  gap: 12px;
}

.text_23 {
  color: #475467;
}

.table_cell_31 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_22 {
  color: #475467;
}

.frame_415 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_30 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_21 {
  color: #475467;
}

.frame_414 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_29 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_20 {
  color: #475467;
}

.frame_413 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_28 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_19 {
  color: #475467;
}

.frame_412 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_27 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_18 {
  color: #475467;
}

.frame_411 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_26 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_17 {
  color: #475467;
}

.frame_410 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_25 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_16 {
  color: #475467;
}

.frame_49 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_24 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_15 {
  color: #475467;
}

.frame_48 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_23 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_14 {
  color: #475467;
}

.frame_47 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_22 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_13 {
  color: #475467;
}

.frame_46 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_21 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_12 {
  color: #475467;
}

.frame_45 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_20 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_11 {
  color: #475467;
}

.frame_44 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_19 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_10 {
  color: #475467;
}

.frame_43 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_18 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_9 {
  color: #475467;
}

.frame_42 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.table_cell_17 {
  display: flex;
  position: relative;
  height: 24px;
  padding: 0px 0px 0px 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.text_8 {
  color: #475467;
}

.frame_41 {
  width: 16px;
  overflow: hidden;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
  align-self: stretch;
}

.text_7 {
  color: #475467;
}

.text_6 {
  color: #475467;
}

.select_checks {
  display: flex;
  background: var(--gray-25, #FCFCFD);
  flex-direction: column;
  align-items: center;
}

.table_cell_15 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_16 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_16 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_15 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_19 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_14 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_15 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_15 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_14 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_18 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_13 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_14 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_14 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_13 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_17 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_12 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_13 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_13 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_12 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_16 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_11 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_12 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_12 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_11 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_15 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_10 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_11 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_11 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_10 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_14 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_9 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_10 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_10 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_9 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_13 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_8 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_9 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_9 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_8 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_12 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_7 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_8 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_8 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_7 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_11 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_6 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_7 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_7 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_6 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_10 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_5 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_6 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_6 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_5 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_9 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_4 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_5 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_5 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_4 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_8 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_3 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_4 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_4 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_3 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_7 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_2 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_3 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_3 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_2 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_6 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell_1 {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_2 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_2 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check_1 {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_5 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_cell {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  align-items: center;
}

.checkbox_1 {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
}

.checkbox_base_1 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
  flex-shrink: 0;
}

.check {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_4 {
  position: absolute;
  left: 16.667px;
  top: 25%;
  width: calc(100% - (16.667px + 16.667px));
  height: 45.833%;
}

.table_header_cell {
  display: flex;
  position: relative;
  height: 24px;
  border-bottom: 1px solid var(--gray-200, #EAECF0);
  background: var(--gray-25, #FCFCFD);
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox_base {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid var(--primary-600, #7F56D9);
  background: var(--primary-50, #F9F5FF);
}

.minus {
  position: absolute;
  left: 12.5px;
  top: 12.5%;
  width: calc(100% - (12.5px + 12.5px));
  height: 75%;
  overflow: hidden;
}

.icon_3 {
  position: absolute;
  left: 20.833px;
  top: 50%;
  width: calc(100% - (20.833px + 20.833px));
  height: 0%;
}

.table_header {
  display: flex;
  background: var(--base-white, #FFF);
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.header_actions_1 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.input_dropdown {
  display: flex;
  width: 192px;
  flex-direction: column;
  align-items: flex-start;
}

.input_with_label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.input {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--base-white, #FFF);
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.chevron_down {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.icon_2 {
  position: absolute;
  left: 25px;
  top: 37.5%;
  width: calc(100% - (25px + 25px));
  height: 25%;
}

.content {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

.text_5 {
  color: #101828;
}

.text_4 {
  color: #6941C6;
}

.bookmark_x {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.icon_1 {
  top: 12.5%;
  width: 100%;
  height: 75%;
}

.text_3 {
  color: #6941C6;
}

.trash_01 {
  position: relative;
  width: 17px;
  height: 17px;
  overflow: hidden;
}

.icon {
  top: 8.333%;
  width: 100%; /* calc(100% - (12.5px + 12.5px)); */
  height: 83.333%;
}

.text_2 {
  color: #6941C6;
}


.badge {
  display: flex;
  padding: 2px 8px;
  border-radius: 16px;
  background: var(--primary-50, #F9F5FF);
  align-items: center;
}

.text_1 {
  color: #6941C6;
  text-align: center;
}

.text {
  color: #101828;
}

:root {
  --base-white: #FFF;
  --gray-200: #EAECF0;
  --gray-25: #FCFCFD;
  --primary-50: #F9F5FF;
  --primary-600: #7F56D9;
  --gray-300: #D0D5DD;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_sm_regular {
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
}

.text_xs_medium {
  font-size: 12px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_xs_medium {
  font-size: 12px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.text_xs_medium {
  font-size: 12px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
}

.text_sm_semibold {
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
}

.shadow_sm {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}

.shadow_xs {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
